* {
    box-sizing: border-box;
}
:root {
    --primary-color: #1ebfc1;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0 41px;
    min-width: 186px;
    line-height: 68px;
    border-radius: 14px;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}

.line-clamp {
    display: -webkit-box;
    /* -webkit-line-clamp: 3; */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Header  */
.header {
    background-color: #fff;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 2;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 52px 0px 8px;
}

.header .nav {
    margin-left: auto;
}

.header .body ul {
    display: flex;
    gap: 39px;
}

.header .nav .active,
.header .action .active {
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .action {
    margin-left: 177px;
}

.header .btn.lv1 {
    min-width: 108px;
    line-height: 48px;
    margin-left: 22px;
    padding: 0;
    background-color: #fff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-size: 1.6rem;
}

/* Hero */
.hero {
    margin-top: 42px;
    margin-bottom: 79px;
}

.hero .body {
    display: flex;
    align-items: center;
}

.hero .left-side {
    width: 40%;
}

.hero .left-side .heading {
    margin: 18px 0 46px;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16;
}

.hero .left-side .sub-title {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.78;
}
.hero .left-side .desc {
    margin-bottom: 52px;
    width: 374px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}

.hero .left-side .action button {
    border-radius: 50%;
    margin-left: 50px;
    width: 62px;
    height: 62px;
    border: none;
    background: #fff;
    box-shadow: 0px 22px 50px 0px #ccc;
    cursor: pointer;
}
.hero .right-side {
    position: relative;
    width: 60%;
    height: 631px;
}
.hero .right-side .hero-img {
    position: absolute;
    left: 113px;
}
.hero .hero-img .image {
    width: 576px;
    height: 631px;
    object-fit: cover;
    background: #e0f7f6;
}
.hero .right-side .block-1,
.hero .right-side .block-2,
.hero .right-side .block-3 {
    position: absolute;
    z-index: 1;
    border-radius: 1.8rem;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .right-side .block-1 {
    top: 149px;
    right: 459px;
    padding: 17px 25px;
}

.hero .right-side .block-1 .content {
    display: flex;
    align-items: center;
}
.hero .right-side .block-1 .content .desc {
    margin-left: 16px;
    width: 5.5rem;
    color: #0d1111;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero .right-side .block-2 {
    padding: 16px 25px 23px;
    bottom: 46px;
    right: 517px;
}

.hero .right-side .block-2 .content {
    justify-content: center;
}
.hero .right-side .block-2 .sub-title {
    margin-bottom: 4px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .right-side .block-2 .sub-title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.hero .right-side .block-2 img {
    display: block;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
}
.hero .right-side .block-2 img:last-child {
    margin-top: 20px;
}

.hero .right-side .block-3 {
    padding: 17px 35px;
    right: 45px;
    bottom: 41px;
}

.hero .right-side .block-3 .sub-title {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.hero .right-side .block-3 .avatars {
    display: flex;
}

.hero .right-side .block-3 .avatar {
    margin-left: -10px;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    object-fit: cover;
}

.hero .right-side .block-3 .avatar:first-child {
    margin-left: 0;
}

.hero .right-side .block-3 .more {
    width: 33px;
    height: 33px;
    margin-left: -10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1ebfc1;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

/* Features */

.features {
    margin-top: 130px;
}

.features .sub-title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.features .heading {
    width: 57.7rem;
    margin: 18px 0;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33;
}

.features .desc {
    margin-bottom: 80px;
    width: 59rem;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}

.features .row {
    display: flex;
    gap: 200px;
}

.features .row .title {
    margin: 26px 0 16px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.features .row .desc {
    width: 223px;
    height: 81px;
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.69;
}

/*  Courses  */
.courses {
    margin: 50px 0 79px;
}

.courses .sub-title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}
.courses .heading {
    margin: 19px 0;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
}

.courses .row {
    display: flex;
    align-items: center;
}

.courses .row .desc {
    width: 525px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}

.courses .row .cta {
    margin-left: auto;
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.courses .row-2 {
    margin-top: 79px;
    display: flex;
    gap: 47px;
}

.courses .row-2 .image {
    border-radius: 0.8rem;
    width: 359px;
    height: 393px;
    object-fit: cover;
}

.courses .row-2 .block {
    justify-content: center;
}

.courses .row-2 .block .background {
    margin-top: -393px;
    height: 393px;
    border-radius: 0.8rem;
    opacity: 0.35;
    background: #d0efed;
}

.courses .row-2 .block .content {
    position: relative;
    margin-top: -70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 325px;
    height: 195px;
    border-radius: 0.8rem;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.courses .row-2 .block .content .title {
    padding-top: 18px;
    margin: 0 25px 16px;
    color: #0d1111;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.courses .row-2 .block .content .desc {
    margin: 18px 25px 16px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
}

.courses .row-2 .block .content .desc strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses .row-2 .block .content .row-3 {
    margin-top: 18px;
    display: flex;
}

.courses .row-2 .block .content .row-3 .desc {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.courses .row-2 .block .content .row-3 .desc::before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #1ebfc1;
    border-radius: 50%;
}

.courses .counting {
    margin-top: 265px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 217px;
}

.courses .counting .title {
    line-height: 9.3rem;
    color: #0d1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
}

.courses .counting .desc {
    margin-top: 11px;
    color: #767e7e;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.7rem;
}

/* Quotes */

.quotes {
    margin: 185px 0 130px;
}
.quotes .body {
    display: flex;
}

.quotes .right-side {
    padding: 37px 0;
    width: 36%;
}

.quotes .desc {
    margin: 27px 0 33px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.quotes .student-name {
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.quotes .student-name::before {
    content: "";
    display: inline-block;
    background: #070707;
    width: 0.8rem;
    height: 0.2rem;
    margin-right: 5px;
}

.quotes .student-name strong {
    margin-right: 8px;
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
}

.quotes .cta-button {
    margin-top: 52px;
    display: flex;
    gap: 30px;
}

.quotes .cta-button a {
    display: flex;
    width: 50px;
    height: 50px;
    background: #2ac9bf;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.quotes .cta-button .cta {
    width: 6px;
    height: 12px;
}

.quotes .right-side {
    position: relative;
}

.quotes .right-side .img {
    position: absolute;
    border-radius: 50%;
}

.quotes .right-side .img:first-of-type {
    background-color: #ff8282;
    top: 85px;
    left: 345px;
    width: 235px;
    height: 235px;
}

.quotes .right-side .img:nth-of-type(2) {
    width: 92px;
    height: 92px;
    background-color: #1ebfc1;
    top: 0;
    left: 216px;
}

.quotes .right-side .img:nth-of-type(3) {
    width: 110px;
    height: 110px;
    background-color: #bf83ff;
    top: 18px;
    left: 641px;
}

.quotes .right-side .img:nth-of-type(4) {
    width: 78px;
    height: 78px;
    top: 257px;
    left: 72px;
    background-color: #ffc147;
}

.quotes .right-side .img:nth-of-type(5) {
    width: 78px;
    height: 78px;
    bottom: 0;
    left: 284px;
    background-color: #ff947a;
}

.quotes .right-side .img:nth-of-type(6) {
    width: 78px;
    height: 78px;
    left: 641px;
    bottom: 29px;
    background-color: #b1dfdc;
}

/* admit */
.admit {
    width: 100%;
    height: 272px;
    background: #def6f5;
}

.admit .body {
    display: flex;
    gap: 410px;
}

.admit .title {
    padding-top: 76px;
    color: #070707;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 63px;
}

.admit .desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}

.admit .cta {
    margin-top: 96px;
}

/* Footer */

.footer {
    width: 100%;
    height: 359px;
}

.footer .row {
    margin-top: 135px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer .title {
    margin-bottom: 25px;
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 27px;
}

.footer .list li {
    margin-top: 20px;
}

.footer .list li a {
    display: flex;
    align-items: start;
    color: #535353;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
}

.footer .list li a img {
    margin-right: 9px;
}

.footer .copyright {
    display: block;
    margin-top: 80px;
    color: #b0b5b4;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 27px;
}

.footer .copyright p {
    color: #b0b5b4;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
}
